far inserie all'utente due valori interi

In [ ]:

num1 = int(input("inserire il primo numero "))
num2 = int(input("inserire il secondo numero "))

inserire il primo numero 10
inserire il secondo numero 5

effettuare le 4 operazioni aritmetiche tra i due numeri

In [ ]:

print("add =   "  +str(num1+num2)) 
print("sott =  " +str(num1 - num2))
print("molt =  " +str(num1 * num2))
print("div =  " +str(num1 / num2))

add =   15
sott =  5
molt =  50
div =  2.0

 effettuare l'elevamento a potenza del primo numero per il secondo

In [ ]:
print("potenza =  " +str(pow(num1,num2)))

potenza =  100000

 effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [ ]:
print("resto =  " +str(num1%num2))

resto =  0

effettuare la divisione intera tra il primo e il secondo numero

In [ ]:
print("div int = " +str(num1//num2))

div int = 2

 incrementare di una unità entrambi i numeri

In [ ]:
print("num1 +1 = "+str(num1 + 1))
print("num2 +1 = "+str(num2 + 1))

num1 +1 = 11
num2 +1 = 6

far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [ ]:
val1 = float(input("inserire l'altezza  in metri "))
val2 = float(input("inserire il peso in kilogrammi "))

inserire l'altezza  in metri 1.88
inserire il peso in kilogrammi 84

arrotondare l'IMC precedente

In [ ]:
imc= round(23,7)
print(imc)

23

visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [ ]:
nome =  str(input("nome : ")) 
cognome =  str(input("cognome : "))
data =  str(input("data di nascita : "))
città =  str(input("città di nascita : "))

nome : salvatore
cognome : ambrosino
data di nascita : 03/05/2005
città di nascita : NAPOLI

visualizzare le stesse informazioni per 10 volte di seguito

In [ ]:
informazioni = (nome,cognome,data,città)
print(informazioni * 10)

('salvatore', 'ambrosino', '03/05/2005', 'NAPOLI', 'salvatore', 'ambrosino', '03/05/2005', 'NAPOLI', 'salvatore', 'ambrosino', '03/05/2005', 'NAPOLI', 'salvatore', 'ambrosino', '03/05/2005', 'NAPOLI', 'salvatore', 'ambrosino', '03/05/2005', 'NAPOLI', 'salvatore', 'ambrosino', '03/05/2005', 'NAPOLI', 'salvatore', 'ambrosino', '03/05/2005', 'NAPOLI', 'salvatore', 'ambrosino', '03/05/2005', 'NAPOLI', 'salvatore', 'ambrosino', '03/05/2005', 'NAPOLI', 'salvatore', 'ambrosino', '03/05/2005', 'NAPOLI')

assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [59]:
string = "salvatore ambrosino "

uppercasestring = string.upper()

print(uppercasestring)

SALVATORE AMBROSINO

 assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [58]:
string = "salvatore ambrosino "
print(string.title())

Salvatore Ambrosino

assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

In [60]:
string = "salvatore Ambrosino"
lunghezza = len(string)
print(lunghezza)

19

assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [92]:
string = "salvatore ambrosino "
contatore=0
vocali= set('aeiou')
for lettera in string:
    if lettera in vocali:contatore=contatore+1
print(contatore)

8

 assegnare il proprio nome e cognome ad una stringa e visualizzare i primi 5 caratteri

In [63]:
string = "Salvatore Ambrosino "
print(string[0:5])

Salva

 assegnare il proprio nome e cognome ad una stringa e visualizzare gli ultimi 5 caratteri

In [64]:
string = "Salvatore Ambrosino "
print(string[14:19])

osino

assegnare il proprio nome e cognome ad una stringa e visualizzare i 5 caratteri centrali

In [66]:
string = "Salvatore Ambrosino "
print(string[7:12])

re Am

assegnare il proprio nome e cognome ad una stringa e sostituire le vocali con una X

In [134]:
s='salvatore ambrosino'

sX=s.replace('a','X').replace('e','X').replace('i','X').replace('o','X')


print(sX,)

sXlvXtXrX XmbrXsXnX